include ../mixins/nav-item.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      div.row
        div.col
          h2
            | Node.js on Azure App Service Example Site
      nav.row
        div.col
          ul.nav.nav-pills
            +nav-item('Home', '/')
            +nav-item('Request Headers', '/headers')
            +nav-item('My Profile', '/myprofile')
            +nav-item('Logout', '/.auth/logout')
    div.container
      block content
  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js")
